<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="userProfileRepository" class="com.melexis.repository.UserProfileRepositoryBean">
        <constructor-arg ref="sessionfactory" />
    </bean>

    <bean id="productRepository" class="com.melexis.repository.ProductRepositoryBean">
        <constructor-arg ref="sessionfactory" />
    </bean>

    <bean id="sessionfactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="datasource" />

        <property name="annotatedClasses" >
            <list>
                <value>com.melexis.UserProfile</value>
                <value>com.melexis.Product</value>
                <value>com.melexis.Transaction</value>
            </list>
        </property>

        <property name="hibernateProperties" ref="hibernateProperties" />
    </bean>
</beans>